<main class="main">

  <div class="inner">
    <% if user_signed_in? %>
    <%# ログインしているときは以下を表示する %>
      <div class="greeting">
        こんにちは、
        <%= link_to "#{current_user.name}さん", "/users/#{current_user.id}", class: :greeting__link %>
      </div>
    <% end %>
    <%# // ログインしているときは上記を表示する %>
    <%# 商品一覧 %>
    <div class='item-contents'>
      <h2 class='title'><%= image_tag "title.png", width:"480", height:"52" %></h2>
      <ul class='item-lists'>
        <%= render partial: "prototype", collection: @prototypes %>
      </ul>
    </div>
    <%# /商品一覧 %>
  </div>
</main>
