<main class="main">

  <div class="inner">
    <%# 商品一覧 %>
    <div class='item-contents'>
      <h2 class='card__img'><%= image_tag "title.png", class: :logo2 %></h2>
      <ul class='item-lists'>
        <%= render partial: "prototype", collection: @prototypes %>
      </ul>
    </div>
    <%# /商品一覧 %>
  </div>
</main>
