/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #e5edf1;
}

.main{
  font-family: 'Yusei Magic', sans-serif;
  background-image: url("back.png");
}
/* ヘッダー */

.header {
  background  : linear-gradient(135deg, #c2e8f3, #6498cc, #d971ee);  /* BOXのグラデーション */
  margin-bottom: 1px;
  padding: 10px 0 0 0;
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
  margin-top: 10px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
  font-family: 'Yusei Magic', sans-serif;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}
.nav__btn2{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #4a4c4d;
  text-decoration: none;
  user-select: none;
  border: 1px #4a4c4d solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn2:hover{
  color: #fff;
  background: #4a4c4d;
}
.btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #0f95e9;
  border: 1px #87CEFA solid;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  margin: 0 20px 0 0;
  font-family: 'Yusei Magic', sans-serif;
}
.btn2{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #0f95e9;
  border: 1px #87CEFA solid;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  font-family: 'Yusei Magic', sans-serif;
}
.chat_btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #0f95e9;
  border: 1px #87CEFA solid;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  font-family: 'Yusei Magic', sans-serif;
}
.btn:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.btn2:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.chat_btn:hover{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  font-family: 'Yusei Magic', sans-serif;
}
.nav__logout:hover{
  opacity: 0.65;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */

.greeting{
  padding: 10px 0 0 0;
  margin-bottom: 20px;
  font-size: 18px;
}
.greeting__link{
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  min-height: 150px;
}
.card {
  width: 270px;
  margin-bottom: 40px;
}
.card__img {
  margin-top: 20px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* 詳細ページ */
.prototype__wrapper{
  padding: 10px 0 0 0;
  min-height: calc(100vh - 161px);
  box-shadow: 10px 15px 10px 5px rgb(188, 188, 192);
  border-radius: 10px;
}

.prototype__hedding{
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.prototype__user{
  display: block;
  color: rgb(55, 82, 236);
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
}
.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.prototype__detail2{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 8px;
  padding: 5px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.detail__title2{
  font-size: 35px;
}
.prototype__manage{
  display: flex;
  justify-content: center;
  padding: 5px 5px 5px 5px;
}
.prototype__manage2{
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 0px 20px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

.prototype__comments{
  background-color: #f6f6f6;
  box-shadow: 10px 15px 10px 5px rgb(188, 188, 192);
  padding: 20px;
  margin: 28px 0 4px 0;
}
.prototype__comments2{
  padding: 20px;
  margin: 0 40px 40px 40px;
}

.prototype__btn2 {
  display: flex;
  align-items: center;
  padding-left: 30px
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;

  border-collapse: collapse;
  border: double 5px #b7ced1;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: double 5px #b7ced1;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* フッター */

.footer {
  background-color: rgb(31, 31, 31);
  padding: 5px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}

.clearText {
	text-indent:100%;
	white-space:nowrap;
  overflow:hidden;
  font-size: 1px;
}

.box {
  position    : relative;
  margin      : auto;                 /* サンプル用 中央寄せ     */
  box-sizing  : border-box;           /* 罫線も含む長さ          */
  border      : 1px solid #ccc;       /* サンプル用 枠線指定     */
  width       : 550px;                /* BOXの幅                 */
  max-width   : 100%;                 /* 最大のBOX幅             */
  height      : 250px;                /* BOXの高さ               */
  background  : linear-gradient(135deg, #000000, #6498cc, #99ff99);  /* BOXのグラデーション */
}
.header span {
  position    : absolute;             /* 親要素からの絶対位置    */
  display     : inline-block;         /* Transform用にブロック化 */
  color       : #ffffff;              /* 文字色                  */
  font-size   : 24pt;                 /* 文字サイズ              */
  top         : 50%;                  /* 文字位置（縦）          */
  left        : 50%;                  /* 文字位置（横）          */
  transform   : translateY(-50%)
                translateX(-50%);     /* 文字の高さ分ずらす      */
}

.item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card_color {
  background  : #c7ebfe;
}
.card_color2 {
  background  : #dcdce4;
}
.card_color3 {
  background  : #eaf7df;
}
.card_color6 {
  background  : #fce4dc;
}
.card_color9 {
  background  : #fcdcf7;
}
.card_back {
  background-image: url("card_back.png");
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  box-shadow: 10px 15px 10px 5px rgb(188, 188, 192);
  border-radius: 10px;
  margin: 40px 20px;
}

.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-info {
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
  color: rgb(17, 16, 16);
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
  color: black;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

body {
  background: linear-gradient(-45deg, #e6c4b8, #e7b7cb, #a7ccda, #b3dfd3);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  width: 40vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #7bbce7;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  padding: 2vh 0 0 0;
  display: flex;
  min-width: 200px;
}

.lists-right {
  padding: 1vh 0 0 0;
  display: flex;
  min-width: 200px;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-family: 'Yusei Magic', sans-serif;
}

.brand-list {
  text-decoration: none;
  color: #333333;
  font-family: 'Yusei Magic', sans-serif;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}